@import "../variables";
@import "../style";

.ng-edit-form-component {

  .ui.form {
    > .field {
      margin-top: 10px !important;
    }
     >.field > input,
     >.field > label,
     .ng-map-block > label,
     >.field > select,
     >.field > select > option {
      font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif ! important;
      font-size: 14px ! important;
      text-align: left;
    }
     .map-item {
      display: inline-block;
      margin-bottom: 10px;
      width: 100%;
    }
     .map-item input,
     .map-item select
    {
      position: relative;
      float: left;
      margin-bottom: 5px;
    }
    .map-item input
    {
      width: 100%;
    }
    .map-item .filler
    {
      width: 180px;
      position: relative;
      float: left;
      margin-bottom: 5px;
      padding-top: 5px;
      padding-left: 5px;
    }
    label {
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      color: #8c8c8c;
      text-align: left;
    }
    .map-item select,
    .map-item input,
    .field > input,
    .field > .form-group > input.form-control,
    .field.form-group > input.form-control {
      display: inline;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857;
      color: #555555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
    .map-item select
    {
      display: inline;
      position: relative;
      float: left;
      width: calc(100% - 190px);
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .ng-map-block > label {
      display: block;
      width: 100%;
      padding-top: 5px;
    }

    label.selector.remove {
      font-size: 12px ! important;
    }
     label.selector.add > i.fa.fa-plus-circle,
     label.selector.remove > i.fa.fa-minus-circle{
      font-size: 15px;
      color: #8c8c8c;
      margin-left: 5px;
    }
     label.selector.remove > i.fa.fa-minus-circle {
      color: #97010f ! important;
    }
     label.selector.add > i.fa.fa-plus-circle {
      color: #08804f ! important;
      margin-top: 1px;
      position: relative;
      float: left;
      padding-right: 5px;
     }
     label.selector.add,
     label.selector.remove{
      top: -5px;
      text-transform: uppercase;
       cursor: pointer;
    }
     label.selector.add {
      color: #08804f ! important;
       display: block;
       width: 100%;
    }
     label.selector.remove {
      color: #97010f ! important;
    }
     label.selector.add > i:before {
      top: 0px;
      position: relative;
    }
     label.selector.remove > i:before{
      top: 1px;
      position: relative;
    }
     label.selector.add > i,
     label.selector.remove > i{
      cursor: pointer;
    }

    .field > label,
    .field > input,
    .field > .form-group > label,
    .field.form-group > label {
      position: relative;
      float: left;
      width: 100%;
    }

    .field > .form-group > .input-group-addon,
    .field.form-group > .input-group-addon {
      display: inline;
      position: relative;
      float: left;
      width: 40px;
      height: 34px;
      margin-right: -1px;
      padding-top: 7px;
    }

    .field > .form-group > input.form-control,
    .field.form-group > input.form-control {
      display: inline;
      position: relative;
      float: left;
      width: calc(100% - 40px);
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .field > .form-group > .question {
      position: relative;
      input[type="checkbox"] {
        display: inline;
        position: relative;
        float: left;
        border-radius: 5px;
        width: 20px;
        height: 20px;
      }
      .question-text  {
        position: relative;
        float: left;
        margin-left: 10px;
        margin-top: 5px;
        }
    }
  }

}
