@import "../variables";
@import "../style";
@mixin top-centerer {
  transform: translate(0%, -50%);
}
@mixin left-centerer {
  transform: translate(-50%, 0%);
}
@mixin full-centerer {
  transform: translate(-50%, -50%);
}
.ng-item-list {
  display: block;
  width: 100%;
  overflow: hidden;

  > .ng-item-list-box {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #f9f9f9;
    border: 1px solid #716e6e;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 5px #716e6e;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;

    &.alternate {
      background-color: #edf3c0;
    }
    > .ng-item-list-box-group {
      padding : 0px;
      margin: 0px;
      > .row {
      display: block;
      width: 100%;
      overflow: hidden;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
       > .row-group {
         width: 100%;
         display: inline-block;
         > .item-block[type="map"] {
            $sel: &;
           .column4 {
             //@include top-centerer;
           }
         }
         > .item-block {
           width: 100%;
           display: inline-block;

           .bubble {
             position: relative;
             float: left;
             display: inline !important;
             overflow: hidden;
             text-overflow: ellipsis;
             white-space: nowrap;
             border: 1px solid #a6aca6;
             border-radius: 5px;
             background-color: #EAE7FF;
             margin-right: 5px;
             padding: 5px;
             min-width: 250px;
             margin: 2px;
           }
           .column4 {
             position: relative;
             float: left;
             display: inline !important;
             width: 25%;
             overflow: hidden;
             text-overflow: ellipsis;
             white-space: nowrap;
           }

           .column3 {
             position: relative;
             float: left;
             display: inline !important;
             width: 33%;
             overflow: hidden;
             text-overflow: ellipsis;
             white-space: nowrap;
           }
           .column2 {
             position: relative;
             float: left;
             display: inline !important;
             width: 50%;
             overflow: hidden;
             text-overflow: ellipsis;
             white-space: nowrap;
           }
           .column2on3 {
             position: relative;
             float: left;
             display: inline !important;
             width: 75%;
             overflow: hidden;
             text-overflow: ellipsis;
             white-space: nowrap;
           }
           .column1 {
             position: relative;
             float: left;
             display: inline !important;
             width: 100%;
             overflow: hidden;
             text-overflow: ellipsis;
             white-space: nowrap;
           }
           .center, .column3.center, .column2.center {
             text-align: center;
             vertical-align: middle;
           }
         }
       }
       .ui-buttonset {
         width: 100%;
         display: inline;
         margin-top: 5px;
         margin-bottom: 5px;
       }
       .action-link {
         position: relative;
         float: right;
         font-family: Arial, Helvetica, sans-serif;
         text-transform: uppercase;
         font-size: 14px;
         margin-right: 5px;
         margin-left: 5px;
         cursor: pointer;
       }
       .action-link > i {
         font-size: 12px;
         color: #8c8c8c;
         margin-left: 5px;
       }
       .action-link > i:before {
         top: -1px;
         position: relative;
       }
       .action-link.green,
       .action-link.green > i{
         color: #08804f;
       }
       .action-link.red,
       .action-link.red > i{
         color: #97010f;
       }
       label.selector > i {
         font-size: 15px;
         color: #08804f ! important;
         margin-left: 5px;
       }
       label.selector > i.fa.fa-plus-circle {
         color: #08804f ! important;
         margin-top:    10px;
         margin-bottom: 10px;
       }
       label.selector {
         top: -5px;
         color: #08804f ! important;
         text-transform: uppercase;
       }
       label.selector > i:before {
         top: -1px;
         position: relative;
       }
       label.selector > i {
         cursor: pointer;
       }
     }
    }
  }
}
div.form-group > span {
  position: relative;
  float: right;
  color: #072080;
  margin-right: 10px;
  font-size: 17px;
  font-size: 1.3em;
}

div.form-group > span.error,
div.form-group > span.fa.fa-flash {
  color: #8b211e;
}

@media (min-width: $screen-generic-list-xlg) {
  > .ng-item-list-box {
    font-size: 16px ! important;
  }
  .ng-item-list {
    .bubble {
      float: right !important;
      font-size: 14px;
      min-width: 280px !important;
    }
  }
}

@media (max-width: $screen-generic-list-lg) {
  .ng-item-list {
    .bubble {
      float: right !important;
      font-size: 12px;
      min-width: 200px !important;
    }
  }
}

@media (max-width: $screen-generic-list-md) {
  .ng-item-list {
    > .ng-item-list-box {
      font-size: 12px ! important;
    }
    > .ng-item-list-box > .row {
      display: inline-block ! important;
    }
    > .ng-item-list-box > .row .column4 {
      width: 100% ! important;
      text-align: left ! important;
    }
    > .ng-item-list-box > .row .column3 {
      width: 100% ! important;
      text-align: left ! important;
    }
    > .ng-item-list-box > .row .column2 {
      width: 100% ! important;
      text-align: left ! important;
    }
    .bubble {
      float: right !important;
      font-size: 10px;
      min-width: 180px !important;
    }
  }
}

@media (max-width: $screen-generic-list-xs) {
  .ng-item-list {
    > .ng-item-list-box {
      font-size: 10px ! important;
    }
    > .ng-item-list-box > .row {
      display: inline-block ! important;
    }
    > .ng-item-list-box > .row .column4 {
      width: 100% ! important;
      text-align: left ! important;
    }
    > .ng-item-list-box > .row .column3 {
      width: 100% ! important;
      text-align: left ! important;
    }
    > .ng-item-list-box > .row .column2 {
      width: 100% ! important;
      text-align: left ! important;
    }
    .bubble {
      float: right !important;
      font-size: 8px;
      min-width: 150px !important;
    }
  }
}
