@import "../variables";
@import "../style";

.form-inline {
  display: $form-inline-display;
  width: $form-inline-width;
  overflow: $form-inline-overflow;
}
.form-inline > .form-group {
  display: $form-inline-group-display;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.form-inline > .form-group > input {
  width: 60%;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.form-inline > .form-group > label {
  width: 30%;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}
.center, .form-group.center {
  text-align: center;
  vertical-align: middle;
  display: inline-block ! important;
}
.btn.btn-primary.disabled > i {
  color: #ffffff;
  margin-right: 10px;
  font-size: 19px;
  font-size: 1.4em;
}
