@import "../variables";
@import "../style";

.ng-login-form {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  .form-inline {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }
  .form-inline > .form-group {
    display: inline-flex;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .form-inline > .form-group:not(:first-child) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .form-inline > .form-group > input {
    width: 50%;
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  .form-inline > .form-group > .input-group-addon > i {
    right: 6px;
  }
  .form-inline > .form-group > label {
    width: 50%;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    padding-top: 7px;
    text-transform: uppercase;
  }
  .center, .form-group.center {
    text-align: center;
    vertical-align: middle;
    display: inline-block ! important;
  }
  .alert.alert-danger {
    display: block;
    color: $color-dark-red;
    font-size: 19px;
    font-size: 1.4em;
  }
  .alert.alert-info > i {
    color: $color-dark-blue;
    margin-right: 10px;
    font-size: 19px;
    font-size: 1.05em;
  }
  .alert.alert-info {
    display: block;
    color: $color-dark-blue;
    font-size: 19px;
    font-size: 1.4em;
  }
  .alert.alert-info.success {
    color: $color-dark-green;
    background-color: transparentize($color-green, 0.4);
  }
  .alert.alert-info.success > i {
    color: $color-dark-green;
  }

}
