@import "../variables";
@import "../style";

//Navigation bar
.ng-navigation-bar {
  width: 100%;
  display: block;
  border: 0px !important;

  .hidden {
    display: none;
  }
  .navbar.navbar-default {
    border: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    margin-left: 40px !important;
    display: inline-block !important;
    background-color: transparent ! important;
    .container-fluid {
      margin: 0px !important;
      padding: 0px !important;
      border: 0px !important;
      background-color: transparent ! important;
      .ui-steps a.step:last-child {
        border: 0px !important;
        border-radius: 5px !important;
      }
      .ui-steps a.step {
        border: 0px !important;
        max-width: 300px;
      }
      .ui.steps a.step {
        border: 0px !important;
      }
      .ui.steps a.step:hover,
      .ui.steps a.step {
        border: 0px !important;
        margin: 0px !important;
        padding: 0px !important;
        padding-top: 45px !important;
        background-color: transparent ! important;
        display: block;
        margin-top: 20px;
        margin-left: 10px;
        color: $color-orange !important;
        text-transform: uppercase;
        font-size: 24px;
      }
      .ui.steps a.active.step:hover,
      .ui.steps a.active.step {
        border: 0px !important;
        margin: 0px !important;
        padding: 0px !important;
        padding-top: 45px !important;
        background-color: transparent ! important;
        display: block;
        margin-top: 20px;
        margin-left: 10px;
        color: $color-dark-orange !important;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
      }
      .ui.steps a.step:hover,
      .ui.steps a.active.step:hover {
        color: lighten($color-dark-orange, 5) !important;
      }
    }
  }
}

@media (min-width: $screen-app-lg) {
  .ng-navigation-bar {
    .navbar.navbar-default {
      .container-fluid {
        .ui.steps a.step,
        .ui.steps a.step:hover {
          border: 0px !important;
          font-size: 22px;
        }
        .ui.steps a.step:focus {
          border: 0px !important;
          color: lighten($color-dark-orange, 5) !important;
          outline-color: lighten($color-dark-orange, 5) !important;
          outline-style: none !important;
          outline-width:0px !important;
        }
      }
    }
  }
}
@media (max-width: $screen-app-md) {
  .ng-navigation-bar {
    .navbar.navbar-default {
      .container-fluid {
        .ui.steps a.step,
        .ui.steps a.step:hover,
        a.active.step:hover {
          border: 0px !important;
          font-size: 20px;
        }
        .ui.steps a.step:focus {
          border: 0px !important;
          color: lighten($color-dark-orange, 5) !important;
          outline-color: lighten($color-dark-orange, 5) !important;
          outline-style: none !important;
          outline-width:0px !important;
        }
      }
    }
  }
}
@media (max-width: $screen-app-sm) {
  .ng-navigation-bar {
    .navbar.navbar-default {
      .container-fluid {
        .ui.steps a.step,
        .ui.steps a.step.active,
        .ui.steps a.step:hover  {
          border: 0px !important;
          font-size: 16px;
          width: 100% !important;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          padding: 1.14285714em 2em;
        }
        .ui.steps .step:after,
        a.active.step:hover::after,
        a.active.step:hover::after {
          display: none !important;
        }
        .ui.steps a.step:focus {
          border: 0px !important;
          color: lighten($color-dark-orange, 5) !important;
          outline-color: lighten($color-dark-orange, 5) !important;
          outline-style: none !important;
          outline-width:0px !important;
        }
        .ng-navigation-bar .navbar.navbar-default .ui.steps {
          @include dinline();
          border: 0px !important;
          overflow: visible;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
        }
      }
    }
  }
}
@media (max-width: $screen-app-xs) {
  .ng-navigation-bar {
    display: inline-block;
    float: left;
    max-width: 100%;
    min-width: 100%;
    position: relative;
    width: 100%;
    .navbar.navbar-default {
      display: inline-block;
      float: left;
      max-width: 100%;
      min-width: 100%;
      position: relative;
      width: 100%;
      border: 0px !important;
      padding: 0px ! important;
      margin: 8px ! important;
      .container-fluid {
        display: inline-block;
        float: left;
        max-width: 100%;
        min-width: 100%;
        position: relative;
        width: 100%;
        .ui.steps a.step,
        .ui.steps a.step.active,
        .ui.steps a.step:hover  {
          padding-top: 5px !important;
          border: 0px !important;
          display: inline-block;
          float: left;
          font-size: 16px;
          max-width: 100%;
          min-width: 100%;
          position: relative;
          width: 100% !important;
        }
        .ui.steps a.step:focus {
          border: 0px !important;
          color: lighten($color-dark-orange, 5) !important;
          outline-color: lighten($color-dark-orange, 5) !important;
          outline-style: none !important;
          outline-width:0px !important;
        }
        .ui.steps .step:after,
        a.active.step:hover::after,
        a.active.step:hover::after {
          display: none !important;
        }
        .ng-navigation-bar .navbar.navbar-default .ui.steps {
          display: inline-flex !important;
        }
      }
    }
  }
}
@media (max-width: $screen-app-xxs) {
  .ng-navigation-bar {
    display: inline-block;
    float: left;
    max-width: 100%;
    min-width: 100%;
    position: relative;
    width: 100%;
    .navbar.navbar-default {
      display: inline-block;
      float: left;
      max-width: 100%;
      min-width: 100%;
      position: relative;
      width: 100%;
      border: 0px !important;
      padding: 0px ! important;
      margin: 8px ! important;
      .container-fluid {
        display: inline-block;
        float: left;
        max-width: 100%;
        min-width: 100%;
        position: relative;
        width: 100%;
        .ng-navigation-bar .navbar.navbar-default .ui.steps {
          border: 0px !important;
          width: 100%;
          padding: 0px ! important;
          margin: 0px ! important;
        }
        .ui.steps a.step,
        .ui.steps a.step:hover  {
          display: inline-block;
          float: left;
          max-width: 100%;
          min-width: 100%;
          position: relative;
          width: 100% !important;
          border: 0px !important;
          text-decoration: none !important;
          font-size: 16px;
        }
        .ui.steps a.step:focus {
          border: 0px !important;
          color: lighten($color-dark-orange, 5) !important;
          outline-color: lighten($color-dark-orange, 5) !important;
          outline-style: none !important;
          outline-width:0px !important;
        }
        .ui.steps .step:after,
        a.active.step:hover::after,
        a.active.step:hover::after {
          display: none !important;
        }
      }
    }
  }
}

