@import "../variables";
@import "../style";

.sorting-box {
  display: inline;
  &-item {
    position: relative;
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  &-item > span {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #8c8c8c;
  }
  &-item > span.selected {
    color: #000000 ! important;
  }
  &-item > i {
    font-size: 12px;
    color: #8c8c8c;
    margin-left: 5px;
  }
  &-item > i.fa.fa-chevron-up,
  &-item > i.fa.fa-chevron-down {
    color: #000000 ! important;
  }
  &-item {
    top: -5px;
  }
  &-item > i:before {
    top: -1px;
    position: relative;
  }
}
@media (min-width: $screen-sorting-bar-lg) {
  .sorting-box {
    &-item > span {
      font-size: 18px !important;
    }
    &-item > i:before {
      top: -2px;
      position: relative;
    }
  }
}
@media (min-width: $screen-sorting-bar-md) {
  .sorting-box {
    &-item > span {
      font-size: 16px;
    }
    &-item {
      top: -5px;
    }
    &-item > i:before {
      top: -2px;
      position: relative;
    }
  }
}

@media (max-width: $screen-sorting-bar-sm-2) {
  .sorting-box {
    &-item > span {
      font-size: 14px;
    }
    &-item {
      top: -12px;
    }
    &-item > i:before {
      top: -2px;
      position: relative;
    }
  }
}
@media (max-width: $screen-sorting-bar-sm) {
  .sorting-box {
    &-item > span {
      font-size: 10px;
    }
    &-item {
      top: -17px;
    }
    &-item > i:before {
      top: 0px;
      position: relative;
    }
  }
}
@media (max-width: $screen-sorting-bar-xs) {
  .sorting-box {
    display: block;
    &-item {
      display: block;
      font-size: 10px;
      margin-left: 0px;
      width: 100%;
      text-align: center;
    }
    &-item > span {
      font-size: 12px;
    }
    &-item > i:before {
      top: -1px;
      position: relative;
    }
  }
}
