@import "../variables";
@import "../style";

$ng-user-status-bg: opacify(transparentize(opacify($color-navy, .6), .8), .6);
.ng-user-status {
  width: 100%;
  background-color: transparentize(opacify($ng-user-status-bg, 0), .35);
  div, span, button {
    font-family: $header-font;
    // font-size: 12px;
  }
  .container-fluent {
    display: inline;
    width: 100%;
    .title-block {
      position: relative;
      float: left;
      padding-top: 20px;
      margin-left: 9px;
      display: inline-block;
      width: 170px;
      min-width: 170px;
      max-width: 170px;
      margin-bottom: 10px;
      .title {
        position: relative;
        float: left;
        left: 0px;
        max-width: 150px;
        min-width: 150px;
        width: 150px;
        color: $color-orange;
        font-size: 43px;
        &:before {
          background-color: transparent;
          background-image: url($login-logo-url-path);
          background-origin: content-box;
          background-position: 0 0;
          background-repeat: no-repeat;
          background-size: 22px 22px;
          margin-top: -15px;
          margin-left: 102px;
          width: 22px;
          height: 22px;
          position: absolute;
        }
      }
      .sub-title {
        left: 0px;
        width: 100%;
        position: relative;
        float: left;
        color: $color-orange;
        font-size: 19px !important;
        text-transform: uppercase;
        margin-top: -15px;
        border-top: 1px solid $color-orange;
      }
    }
    .content-block {
      position: relative;
      float: left;
      max-width: 250px;
      .ng-navigation-bar{
        /*margin-top: 20px;*/
        .navbar.navbar-default {
          border-color: $ng-user-status-bg;
          .ui.steps{
            border-color: $ng-user-status-bg;
            a.step {
              background-color: opacify(transparentize(opacify($color-orange, .3), .6), .3);
              color: opacify($ng-user-status-bg, .4);
              border-color: opacify($ng-user-status-bg, .4);
            }
          }
        }
      }
    }
    .btn-group {
      position: relative;
      float: right;
      margin-right: 10px;
      margin-top: 10px;
      button.btn.btn-default.dropdown-toggle {
        background-color: transparentize($color-black, .6);
        border-color: #6b6565;
        color: white;
        font-size: 19px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: bold;
        width: 48.1875px;
        height: 53px;
        max-width: 48.1875px;
        max-height: 53px;
        min-width: 48.1875px;
        min-height: 53px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &.open ul.dropdown-menu {
        background-color: transparentize($color-black, .5);
        color: $color-white;
        font-size: 19px;
        min-width: 50px !important;
        max-width: 50px !important;
        width: 50px !important;
        overflow: hidden;
        li {
          min-width: 50px !important;
          max-width: 50px !important;
          width: 50px !important;
          a {
            min-width: 50px !important;
            max-width: 50px !important;
            width: 50px !important;
            color: $color-white;
            font-size: 22px;
            font-size: 1.15em;
            padding-left: 10px !important;
          }
          a:hover {
            min-width: 50px !important;
            max-width: 50px !important;
            width: 50px !important;
            color: $color-black;
            font-size: 22px;
            font-size: 1.15em;
            padding-left: 10px !important;
            border-left: 2px solid transparentize($color-black, .5);
            border-right: 5px solid transparentize($color-black, .5);
          }
        }
      }
    }
    div.btn-login {
      position: relative;
      cursor: pointer;
      float: right;
      width: 150px;
      height: 40px;
      color: white;
      margin-right: 10px;
      text-transform: uppercase;
      background-color: transparentize($color-black, .6);
      border: 1px solid $color-black;
      border-radius: 10px;
      border-radius: .9em;
      margin-top: 15px;
      span {
        position: relative;
        float: right;
        margin-top: 8px;
        font-size: 16px;
        margin-right: 30px;
      }
      i {
        position: relative;
        float: left;
        margin-left: 8px;
        margin-top: 5px;
        font-size: 20px;
        padding-top: 3px;
      }
    }
    div.well {
      position: relative;
      float: right;
      max-width: 150px;
      min-width: 150px;
      width: 150px;
      border-radius: 15px;
      border-radius: 1.2em;
      padding: 10px;
      padding-left: 15px;
      padding-right: 15px;
      margin-right: 10px;
      margin-top: 5px;
      text-align: center;
      background-color: lighten($color-navy, 30);
      font-size: 14px;
      color: $color-white;
      b {
        color: $color-white;
        font-size: 16px;
      }
    }
  }
}
@media (max-width: $screen-app-xs) {
  .ng-user-status {
    display: inline-block;
    .container-fluent {
      display: inline-block;
      .title-block {
        display: inline-block;
        float: left;
        max-width: 100%;
        min-width: 100%;
        position: relative;
        width: 100%;
        padding-right: calc(100% - 170px);
      }
      .content-block {
        display: inline-block;
        float: left;
        max-width: 100%;
        min-width: 100%;
        position: relative;
        width: 100%;
      }
      div.well {
        margin-right: calc((100% - 150px)/2);
      }
      div.btn-login {
        margin-right: calc((100% - 200px)/2);
      }
    }
  }
}
