<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>hyphen</key>
	<dict>
	    <key>X</key>
	    <integer>-82</integer>
	    <key>Y</key>
	    <integer>-82</integer>
	</dict>
	<key>A</key>
	<dict>
	    <key>hyphen</key>
	    <integer>-41</integer>
	    <key>C</key>
	    <integer>-20</integer>
	    <key>G</key>
	    <integer>-20</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	    <key>R</key>
	    <integer>-10</integer>
	    <key>V</key>
	    <integer>-41</integer>
	    <key>W</key>
	    <integer>-41</integer>
	    <key>Y</key>
	    <integer>-51</integer>
	    <key>e</key>
	    <integer>-10</integer>
	    <key>o</key>
	    <integer>-10</integer>
	    <key>q</key>
	    <integer>-10</integer>
	    <key>Ccedilla</key>
	    <integer>-20</integer>
	    <key>Odieresis</key>
	    <integer>-20</integer>
	    <key>eacute</key>
	    <integer>-10</integer>
	    <key>egrave</key>
	    <integer>-10</integer>
	    <key>ecircumflex</key>
	    <integer>-10</integer>
	    <key>edieresis</key>
	    <integer>-10</integer>
	    <key>oacute</key>
	    <integer>-10</integer>
	    <key>ograve</key>
	    <integer>-10</integer>
	    <key>ocircumflex</key>
	    <integer>-10</integer>
	    <key>odieresis</key>
	    <integer>-10</integer>
	    <key>otilde</key>
	    <integer>-10</integer>
	    <key>Otilde</key>
	    <integer>-20</integer>
	    <key>OE</key>
	    <integer>-20</integer>
	    <key>oe</key>
	    <integer>-10</integer>
	    <key>Ydieresis</key>
	    <integer>-51</integer>
	    <key>Oacute</key>
	    <integer>-20</integer>
	    <key>Ocircumflex</key>
	    <integer>-20</integer>
	    <key>Ograve</key>
	    <integer>-20</integer>
	</dict>
	<key>B</key>
	<dict>
	    <key>O</key>
	    <integer>-10</integer>
	    <key>R</key>
	    <integer>-10</integer>
	    <key>X</key>
	    <integer>-31</integer>
	    <key>Y</key>
	    <integer>-10</integer>
	    <key>Odieresis</key>
	    <integer>-10</integer>
	    <key>Otilde</key>
	    <integer>-10</integer>
	    <key>OE</key>
	    <integer>-10</integer>
	    <key>Ydieresis</key>
	    <integer>-10</integer>
	    <key>Oacute</key>
	    <integer>-10</integer>
	    <key>Ocircumflex</key>
	    <integer>-10</integer>
	    <key>Ograve</key>
	    <integer>-10</integer>
	</dict>
	<key>C</key>
	<dict>
	    <key>X</key>
	    <integer>-10</integer>
	</dict>
	<key>D</key>
	<dict>
	    <key>A</key>
	    <integer>-10</integer>
	    <key>V</key>
	    <integer>-10</integer>
	    <key>X</key>
	    <integer>-51</integer>
	    <key>Y</key>
	    <integer>-20</integer>
	    <key>Z</key>
	    <integer>-31</integer>
	    <key>Adieresis</key>
	    <integer>-10</integer>
	    <key>Aring</key>
	    <integer>-10</integer>
	    <key>AE</key>
	    <integer>-10</integer>
	    <key>Agrave</key>
	    <integer>-10</integer>
	    <key>Atilde</key>
	    <integer>-10</integer>
	    <key>Ydieresis</key>
	    <integer>-20</integer>
	    <key>Acircumflex</key>
	    <integer>-10</integer>
	    <key>Aacute</key>
	    <integer>-10</integer>
	</dict>
	<key>E</key>
	<dict>
	    <key>J</key>
	    <integer>-20</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	    <key>S</key>
	    <integer>-10</integer>
	    <key>Odieresis</key>
	    <integer>-20</integer>
	    <key>Otilde</key>
	    <integer>-20</integer>
	    <key>OE</key>
	    <integer>-20</integer>
	    <key>Oacute</key>
	    <integer>-20</integer>
	    <key>Ocircumflex</key>
	    <integer>-20</integer>
	    <key>Ograve</key>
	    <integer>-20</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>A</key>
	    <integer>-31</integer>
	    <key>J</key>
	    <integer>-51</integer>
	    <key>a</key>
	    <integer>-41</integer>
	    <key>c</key>
	    <integer>-51</integer>
	    <key>d</key>
	    <integer>-61</integer>
	    <key>e</key>
	    <integer>-41</integer>
	    <key>f</key>
	    <integer>-31</integer>
	    <key>g</key>
	    <integer>-72</integer>
	    <key>k</key>
	    <integer>51</integer>
	    <key>l</key>
	    <integer>41</integer>
	    <key>o</key>
	    <integer>-72</integer>
	    <key>p</key>
	    <integer>-41</integer>
	    <key>q</key>
	    <integer>-51</integer>
	    <key>s</key>
	    <integer>-61</integer>
	    <key>u</key>
	    <integer>-20</integer>
	    <key>v</key>
	    <integer>-31</integer>
	    <key>w</key>
	    <integer>-20</integer>
	    <key>x</key>
	    <integer>-31</integer>
	    <key>y</key>
	    <integer>-31</integer>
	    <key>z</key>
	    <integer>-31</integer>
	    <key>Adieresis</key>
	    <integer>-31</integer>
	    <key>Aring</key>
	    <integer>-31</integer>
	    <key>aacute</key>
	    <integer>-41</integer>
	    <key>agrave</key>
	    <integer>-41</integer>
	    <key>acircumflex</key>
	    <integer>-41</integer>
	    <key>adieresis</key>
	    <integer>-41</integer>
	    <key>atilde</key>
	    <integer>-41</integer>
	    <key>aring</key>
	    <integer>-41</integer>
	    <key>ccedilla</key>
	    <integer>-51</integer>
	    <key>eacute</key>
	    <integer>-41</integer>
	    <key>egrave</key>
	    <integer>-41</integer>
	    <key>ecircumflex</key>
	    <integer>-41</integer>
	    <key>edieresis</key>
	    <integer>-41</integer>
	    <key>oacute</key>
	    <integer>-72</integer>
	    <key>ograve</key>
	    <integer>-72</integer>
	    <key>ocircumflex</key>
	    <integer>-72</integer>
	    <key>odieresis</key>
	    <integer>-72</integer>
	    <key>otilde</key>
	    <integer>-72</integer>
	    <key>uacute</key>
	    <integer>-20</integer>
	    <key>ugrave</key>
	    <integer>-20</integer>
	    <key>ucircumflex</key>
	    <integer>-20</integer>
	    <key>udieresis</key>
	    <integer>-20</integer>
	    <key>AE</key>
	    <integer>-31</integer>
	    <key>ae</key>
	    <integer>-41</integer>
	    <key>Agrave</key>
	    <integer>-31</integer>
	    <key>Atilde</key>
	    <integer>-31</integer>
	    <key>oe</key>
	    <integer>-72</integer>
	    <key>ydieresis</key>
	    <integer>-31</integer>
	    <key>Acircumflex</key>
	    <integer>-31</integer>
	    <key>Aacute</key>
	    <integer>-31</integer>
	</dict>
	<key>G</key>
	<dict>
	    <key>V</key>
	    <integer>-20</integer>
	    <key>W</key>
	    <integer>-10</integer>
	    <key>X</key>
	    <integer>-20</integer>
	    <key>Y</key>
	    <integer>-41</integer>
	    <key>Ydieresis</key>
	    <integer>-41</integer>
	</dict>
	<key>J</key>
	<dict>
	    <key>A</key>
	    <integer>-10</integer>
	    <key>X</key>
	    <integer>-20</integer>
	    <key>Adieresis</key>
	    <integer>-10</integer>
	    <key>Aring</key>
	    <integer>-10</integer>
	    <key>AE</key>
	    <integer>-10</integer>
	    <key>Agrave</key>
	    <integer>-10</integer>
	    <key>Atilde</key>
	    <integer>-10</integer>
	    <key>Acircumflex</key>
	    <integer>-10</integer>
	    <key>Aacute</key>
	    <integer>-10</integer>
	</dict>
	<key>K</key>
	<dict>
	    <key>hyphen</key>
	    <integer>-61</integer>
	    <key>C</key>
	    <integer>-41</integer>
	    <key>G</key>
	    <integer>-41</integer>
	    <key>O</key>
	    <integer>-41</integer>
	    <key>Q</key>
	    <integer>-31</integer>
	    <key>U</key>
	    <integer>-31</integer>
	    <key>a</key>
	    <integer>-10</integer>
	    <key>b</key>
	    <integer>-20</integer>
	    <key>c</key>
	    <integer>-31</integer>
	    <key>d</key>
	    <integer>-20</integer>
	    <key>e</key>
	    <integer>-20</integer>
	    <key>f</key>
	    <integer>-51</integer>
	    <key>g</key>
	    <integer>-20</integer>
	    <key>h</key>
	    <integer>-20</integer>
	    <key>i</key>
	    <integer>-10</integer>
	    <key>j</key>
	    <integer>-10</integer>
	    <key>k</key>
	    <integer>-10</integer>
	    <key>l</key>
	    <integer>-10</integer>
	    <key>m</key>
	    <integer>-41</integer>
	    <key>n</key>
	    <integer>-31</integer>
	    <key>o</key>
	    <integer>-10</integer>
	    <key>p</key>
	    <integer>-31</integer>
	    <key>q</key>
	    <integer>-10</integer>
	    <key>r</key>
	    <integer>-31</integer>
	    <key>t</key>
	    <integer>-82</integer>
	    <key>u</key>
	    <integer>-20</integer>
	    <key>v</key>
	    <integer>-51</integer>
	    <key>w</key>
	    <integer>-41</integer>
	    <key>x</key>
	    <integer>-31</integer>
	    <key>y</key>
	    <integer>-51</integer>
	    <key>Ccedilla</key>
	    <integer>-41</integer>
	    <key>Odieresis</key>
	    <integer>-41</integer>
	    <key>aacute</key>
	    <integer>-10</integer>
	    <key>agrave</key>
	    <integer>-10</integer>
	    <key>acircumflex</key>
	    <integer>-10</integer>
	    <key>adieresis</key>
	    <integer>-10</integer>
	    <key>atilde</key>
	    <integer>-10</integer>
	    <key>aring</key>
	    <integer>-10</integer>
	    <key>ccedilla</key>
	    <integer>-31</integer>
	    <key>eacute</key>
	    <integer>-20</integer>
	    <key>egrave</key>
	    <integer>-20</integer>
	    <key>ecircumflex</key>
	    <integer>-20</integer>
	    <key>edieresis</key>
	    <integer>-20</integer>
	    <key>iacute</key>
	    <integer>-10</integer>
	    <key>igrave</key>
	    <integer>-10</integer>
	    <key>icircumflex</key>
	    <integer>-10</integer>
	    <key>idieresis</key>
	    <integer>-10</integer>
	    <key>ntilde</key>
	    <integer>-31</integer>
	    <key>oacute</key>
	    <integer>-10</integer>
	    <key>ograve</key>
	    <integer>-10</integer>
	    <key>ocircumflex</key>
	    <integer>-10</integer>
	    <key>odieresis</key>
	    <integer>-10</integer>
	    <key>otilde</key>
	    <integer>-10</integer>
	    <key>uacute</key>
	    <integer>-20</integer>
	    <key>ugrave</key>
	    <integer>-20</integer>
	    <key>ucircumflex</key>
	    <integer>-20</integer>
	    <key>udieresis</key>
	    <integer>-20</integer>
	    <key>ae</key>
	    <integer>-10</integer>
	    <key>Otilde</key>
	    <integer>-41</integer>
	    <key>OE</key>
	    <integer>-41</integer>
	    <key>oe</key>
	    <integer>-10</integer>
	    <key>ydieresis</key>
	    <integer>-51</integer>
	    <key>Oacute</key>
	    <integer>-41</integer>
	    <key>Ocircumflex</key>
	    <integer>-41</integer>
	    <key>Ograve</key>
	    <integer>-41</integer>
	    <key>Uacute</key>
	    <integer>-31</integer>
	    <key>Ucircumflex</key>
	    <integer>-31</integer>
	    <key>Ugrave</key>
	    <integer>-31</integer>
	    <key>dotlessi</key>
	    <integer>-10</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>hyphen</key>
	    <integer>-82</integer>
	    <key>C</key>
	    <integer>-20</integer>
	    <key>G</key>
	    <integer>-41</integer>
	    <key>O</key>
	    <integer>-41</integer>
	    <key>Q</key>
	    <integer>-31</integer>
	    <key>S</key>
	    <integer>-10</integer>
	    <key>T</key>
	    <integer>-51</integer>
	    <key>U</key>
	    <integer>-10</integer>
	    <key>Y</key>
	    <integer>-72</integer>
	    <key>v</key>
	    <integer>-31</integer>
	    <key>w</key>
	    <integer>-31</integer>
	    <key>y</key>
	    <integer>-61</integer>
	    <key>Ccedilla</key>
	    <integer>-20</integer>
	    <key>Odieresis</key>
	    <integer>-41</integer>
	    <key>Otilde</key>
	    <integer>-41</integer>
	    <key>OE</key>
	    <integer>-41</integer>
	    <key>ydieresis</key>
	    <integer>-61</integer>
	    <key>Ydieresis</key>
	    <integer>-72</integer>
	    <key>Oacute</key>
	    <integer>-41</integer>
	    <key>Ocircumflex</key>
	    <integer>-41</integer>
	    <key>Ograve</key>
	    <integer>-41</integer>
	    <key>Uacute</key>
	    <integer>-10</integer>
	    <key>Ucircumflex</key>
	    <integer>-10</integer>
	    <key>Ugrave</key>
	    <integer>-10</integer>
	</dict>
	<key>O</key>
	<dict>
	    <key>A</key>
	    <integer>-20</integer>
	    <key>B</key>
	    <integer>-10</integer>
	    <key>J</key>
	    <integer>-10</integer>
	    <key>X</key>
	    <integer>-41</integer>
	    <key>Adieresis</key>
	    <integer>-20</integer>
	    <key>Aring</key>
	    <integer>-20</integer>
	    <key>AE</key>
	    <integer>-20</integer>
	    <key>Agrave</key>
	    <integer>-20</integer>
	    <key>Atilde</key>
	    <integer>-20</integer>
	    <key>Acircumflex</key>
	    <integer>-20</integer>
	    <key>Aacute</key>
	    <integer>-20</integer>
	</dict>
	<key>P</key>
	<dict>
	    <key>comma</key>
	    <integer>-102</integer>
	    <key>period</key>
	    <integer>-102</integer>
	    <key>colon</key>
	    <integer>-61</integer>
	    <key>semicolon</key>
	    <integer>-61</integer>
	    <key>A</key>
	    <integer>-51</integer>
	    <key>J</key>
	    <integer>-51</integer>
	    <key>U</key>
	    <integer>31</integer>
	    <key>X</key>
	    <integer>-51</integer>
	    <key>Y</key>
	    <integer>31</integer>
	    <key>a</key>
	    <integer>-20</integer>
	    <key>c</key>
	    <integer>-10</integer>
	    <key>e</key>
	    <integer>-20</integer>
	    <key>g</key>
	    <integer>-51</integer>
	    <key>o</key>
	    <integer>-31</integer>
	    <key>q</key>
	    <integer>-41</integer>
	    <key>s</key>
	    <integer>-31</integer>
	    <key>x</key>
	    <integer>-20</integer>
	    <key>Adieresis</key>
	    <integer>-51</integer>
	    <key>Aring</key>
	    <integer>-51</integer>
	    <key>aacute</key>
	    <integer>-20</integer>
	    <key>agrave</key>
	    <integer>-20</integer>
	    <key>acircumflex</key>
	    <integer>-20</integer>
	    <key>adieresis</key>
	    <integer>-20</integer>
	    <key>atilde</key>
	    <integer>-20</integer>
	    <key>aring</key>
	    <integer>-20</integer>
	    <key>ccedilla</key>
	    <integer>-10</integer>
	    <key>eacute</key>
	    <integer>-20</integer>
	    <key>egrave</key>
	    <integer>-20</integer>
	    <key>ecircumflex</key>
	    <integer>-20</integer>
	    <key>edieresis</key>
	    <integer>-20</integer>
	    <key>oacute</key>
	    <integer>-31</integer>
	    <key>ograve</key>
	    <integer>-31</integer>
	    <key>ocircumflex</key>
	    <integer>-31</integer>
	    <key>odieresis</key>
	    <integer>-31</integer>
	    <key>otilde</key>
	    <integer>-31</integer>
	    <key>AE</key>
	    <integer>-51</integer>
	    <key>ae</key>
	    <integer>-20</integer>
	    <key>Agrave</key>
	    <integer>-51</integer>
	    <key>Atilde</key>
	    <integer>-51</integer>
	    <key>oe</key>
	    <integer>-31</integer>
	    <key>Ydieresis</key>
	    <integer>31</integer>
	    <key>Acircumflex</key>
	    <integer>-51</integer>
	    <key>Aacute</key>
	    <integer>-51</integer>
	    <key>Uacute</key>
	    <integer>31</integer>
	    <key>Ucircumflex</key>
	    <integer>31</integer>
	    <key>Ugrave</key>
	    <integer>31</integer>
	</dict>
	<key>Q</key>
	<dict>
	    <key>A</key>
	    <integer>-31</integer>
	    <key>B</key>
	    <integer>-10</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	    <key>X</key>
	    <integer>-72</integer>
	    <key>Y</key>
	    <integer>-31</integer>
	    <key>u</key>
	    <integer>-10</integer>
	    <key>Adieresis</key>
	    <integer>-31</integer>
	    <key>Aring</key>
	    <integer>-31</integer>
	    <key>Odieresis</key>
	    <integer>-20</integer>
	    <key>uacute</key>
	    <integer>-10</integer>
	    <key>ugrave</key>
	    <integer>-10</integer>
	    <key>ucircumflex</key>
	    <integer>-10</integer>
	    <key>udieresis</key>
	    <integer>-10</integer>
	    <key>AE</key>
	    <integer>-31</integer>
	    <key>Agrave</key>
	    <integer>-31</integer>
	    <key>Atilde</key>
	    <integer>-31</integer>
	    <key>Otilde</key>
	    <integer>-20</integer>
	    <key>OE</key>
	    <integer>-20</integer>
	    <key>Ydieresis</key>
	    <integer>-31</integer>
	    <key>Acircumflex</key>
	    <integer>-31</integer>
	    <key>Aacute</key>
	    <integer>-31</integer>
	    <key>Oacute</key>
	    <integer>-20</integer>
	    <key>Ocircumflex</key>
	    <integer>-20</integer>
	    <key>Ograve</key>
	    <integer>-20</integer>
	</dict>
	<key>R</key>
	<dict>
	    <key>B</key>
	    <integer>-20</integer>
	    <key>G</key>
	    <integer>-10</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Y</key>
	    <integer>-10</integer>
	    <key>e</key>
	    <integer>-10</integer>
	    <key>f</key>
	    <integer>-10</integer>
	    <key>g</key>
	    <integer>-20</integer>
	    <key>o</key>
	    <integer>-10</integer>
	    <key>q</key>
	    <integer>-20</integer>
	    <key>s</key>
	    <integer>-10</integer>
	    <key>Odieresis</key>
	    <integer>-20</integer>
	    <key>eacute</key>
	    <integer>-10</integer>
	    <key>egrave</key>
	    <integer>-10</integer>
	    <key>ecircumflex</key>
	    <integer>-10</integer>
	    <key>edieresis</key>
	    <integer>-10</integer>
	    <key>oacute</key>
	    <integer>-10</integer>
	    <key>ograve</key>
	    <integer>-10</integer>
	    <key>ocircumflex</key>
	    <integer>-10</integer>
	    <key>odieresis</key>
	    <integer>-10</integer>
	    <key>otilde</key>
	    <integer>-10</integer>
	    <key>Otilde</key>
	    <integer>-20</integer>
	    <key>OE</key>
	    <integer>-20</integer>
	    <key>oe</key>
	    <integer>-10</integer>
	    <key>Ydieresis</key>
	    <integer>-10</integer>
	    <key>Oacute</key>
	    <integer>-20</integer>
	    <key>Ocircumflex</key>
	    <integer>-20</integer>
	    <key>Ograve</key>
	    <integer>-20</integer>
	</dict>
	<key>S</key>
	<dict>
	    <key>B</key>
	    <integer>-10</integer>
	    <key>E</key>
	    <integer>-10</integer>
	    <key>Q</key>
	    <integer>-10</integer>
	    <key>R</key>
	    <integer>-20</integer>
	    <key>X</key>
	    <integer>-31</integer>
	    <key>Y</key>
	    <integer>-10</integer>
	    <key>v</key>
	    <integer>-20</integer>
	    <key>w</key>
	    <integer>-20</integer>
	    <key>x</key>
	    <integer>-31</integer>
	    <key>y</key>
	    <integer>-20</integer>
	    <key>z</key>
	    <integer>-10</integer>
	    <key>Eacute</key>
	    <integer>-10</integer>
	    <key>ydieresis</key>
	    <integer>-20</integer>
	    <key>Ydieresis</key>
	    <integer>-10</integer>
	    <key>Ecircumflex</key>
	    <integer>-10</integer>
	    <key>Edieresis</key>
	    <integer>-10</integer>
	    <key>Egrave</key>
	    <integer>-10</integer>
	</dict>
	<key>T</key>
	<dict>
	    <key>A</key>
	    <integer>-31</integer>
	    <key>J</key>
	    <integer>-51</integer>
	    <key>a</key>
	    <integer>-41</integer>
	    <key>c</key>
	    <integer>-31</integer>
	    <key>d</key>
	    <integer>-41</integer>
	    <key>e</key>
	    <integer>-51</integer>
	    <key>f</key>
	    <integer>-31</integer>
	    <key>g</key>
	    <integer>-72</integer>
	    <key>o</key>
	    <integer>-20</integer>
	    <key>u</key>
	    <integer>-20</integer>
	    <key>v</key>
	    <integer>-31</integer>
	    <key>w</key>
	    <integer>-31</integer>
	    <key>x</key>
	    <integer>-51</integer>
	    <key>y</key>
	    <integer>-31</integer>
	    <key>z</key>
	    <integer>-20</integer>
	    <key>Adieresis</key>
	    <integer>-31</integer>
	    <key>Aring</key>
	    <integer>-31</integer>
	    <key>aacute</key>
	    <integer>-41</integer>
	    <key>agrave</key>
	    <integer>-41</integer>
	    <key>acircumflex</key>
	    <integer>-41</integer>
	    <key>adieresis</key>
	    <integer>-41</integer>
	    <key>atilde</key>
	    <integer>-41</integer>
	    <key>aring</key>
	    <integer>-41</integer>
	    <key>ccedilla</key>
	    <integer>-31</integer>
	    <key>eacute</key>
	    <integer>-51</integer>
	    <key>egrave</key>
	    <integer>-51</integer>
	    <key>ecircumflex</key>
	    <integer>-51</integer>
	    <key>edieresis</key>
	    <integer>-51</integer>
	    <key>oacute</key>
	    <integer>-20</integer>
	    <key>ograve</key>
	    <integer>-20</integer>
	    <key>ocircumflex</key>
	    <integer>-20</integer>
	    <key>odieresis</key>
	    <integer>-20</integer>
	    <key>otilde</key>
	    <integer>-20</integer>
	    <key>uacute</key>
	    <integer>-20</integer>
	    <key>ugrave</key>
	    <integer>-20</integer>
	    <key>ucircumflex</key>
	    <integer>-20</integer>
	    <key>udieresis</key>
	    <integer>-20</integer>
	    <key>AE</key>
	    <integer>-31</integer>
	    <key>ae</key>
	    <integer>-41</integer>
	    <key>Agrave</key>
	    <integer>-31</integer>
	    <key>Atilde</key>
	    <integer>-31</integer>
	    <key>oe</key>
	    <integer>-20</integer>
	    <key>ydieresis</key>
	    <integer>-31</integer>
	    <key>Acircumflex</key>
	    <integer>-31</integer>
	    <key>Aacute</key>
	    <integer>-31</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>comma</key>
	    <integer>-82</integer>
	    <key>period</key>
	    <integer>-82</integer>
	    <key>colon</key>
	    <integer>-61</integer>
	    <key>semicolon</key>
	    <integer>-61</integer>
	    <key>A</key>
	    <integer>-51</integer>
	    <key>G</key>
	    <integer>-10</integer>
	    <key>J</key>
	    <integer>-51</integer>
	    <key>a</key>
	    <integer>-72</integer>
	    <key>c</key>
	    <integer>-41</integer>
	    <key>d</key>
	    <integer>-51</integer>
	    <key>e</key>
	    <integer>-51</integer>
	    <key>f</key>
	    <integer>-20</integer>
	    <key>g</key>
	    <integer>-51</integer>
	    <key>o</key>
	    <integer>-61</integer>
	    <key>p</key>
	    <integer>-10</integer>
	    <key>q</key>
	    <integer>-61</integer>
	    <key>s</key>
	    <integer>-51</integer>
	    <key>x</key>
	    <integer>-41</integer>
	    <key>Adieresis</key>
	    <integer>-51</integer>
	    <key>Aring</key>
	    <integer>-51</integer>
	    <key>aacute</key>
	    <integer>-72</integer>
	    <key>agrave</key>
	    <integer>-72</integer>
	    <key>acircumflex</key>
	    <integer>-72</integer>
	    <key>adieresis</key>
	    <integer>-72</integer>
	    <key>atilde</key>
	    <integer>-72</integer>
	    <key>aring</key>
	    <integer>-72</integer>
	    <key>ccedilla</key>
	    <integer>-41</integer>
	    <key>eacute</key>
	    <integer>-51</integer>
	    <key>egrave</key>
	    <integer>-51</integer>
	    <key>ecircumflex</key>
	    <integer>-51</integer>
	    <key>edieresis</key>
	    <integer>-51</integer>
	    <key>oacute</key>
	    <integer>-61</integer>
	    <key>ograve</key>
	    <integer>-61</integer>
	    <key>ocircumflex</key>
	    <integer>-61</integer>
	    <key>odieresis</key>
	    <integer>-61</integer>
	    <key>otilde</key>
	    <integer>-61</integer>
	    <key>AE</key>
	    <integer>-51</integer>
	    <key>ae</key>
	    <integer>-72</integer>
	    <key>Agrave</key>
	    <integer>-51</integer>
	    <key>Atilde</key>
	    <integer>-51</integer>
	    <key>oe</key>
	    <integer>-61</integer>
	    <key>Acircumflex</key>
	    <integer>-51</integer>
	    <key>Aacute</key>
	    <integer>-51</integer>
	</dict>
	<key>W</key>
	<dict>
	    <key>comma</key>
	    <integer>-82</integer>
	    <key>period</key>
	    <integer>-82</integer>
	    <key>colon</key>
	    <integer>-61</integer>
	    <key>semicolon</key>
	    <integer>-61</integer>
	    <key>A</key>
	    <integer>-72</integer>
	    <key>C</key>
	    <integer>-10</integer>
	    <key>G</key>
	    <integer>-10</integer>
	    <key>J</key>
	    <integer>-61</integer>
	    <key>O</key>
	    <integer>-31</integer>
	    <key>a</key>
	    <integer>-51</integer>
	    <key>c</key>
	    <integer>-41</integer>
	    <key>d</key>
	    <integer>-51</integer>
	    <key>e</key>
	    <integer>-51</integer>
	    <key>f</key>
	    <integer>-10</integer>
	    <key>g</key>
	    <integer>-61</integer>
	    <key>o</key>
	    <integer>-61</integer>
	    <key>p</key>
	    <integer>-20</integer>
	    <key>q</key>
	    <integer>-51</integer>
	    <key>s</key>
	    <integer>-41</integer>
	    <key>x</key>
	    <integer>-31</integer>
	    <key>z</key>
	    <integer>-10</integer>
	    <key>Adieresis</key>
	    <integer>-72</integer>
	    <key>Aring</key>
	    <integer>-72</integer>
	    <key>Ccedilla</key>
	    <integer>-10</integer>
	    <key>Odieresis</key>
	    <integer>-31</integer>
	    <key>aacute</key>
	    <integer>-51</integer>
	    <key>agrave</key>
	    <integer>-51</integer>
	    <key>acircumflex</key>
	    <integer>-51</integer>
	    <key>adieresis</key>
	    <integer>-51</integer>
	    <key>atilde</key>
	    <integer>-51</integer>
	    <key>aring</key>
	    <integer>-51</integer>
	    <key>ccedilla</key>
	    <integer>-41</integer>
	    <key>eacute</key>
	    <integer>-51</integer>
	    <key>egrave</key>
	    <integer>-51</integer>
	    <key>ecircumflex</key>
	    <integer>-51</integer>
	    <key>edieresis</key>
	    <integer>-51</integer>
	    <key>oacute</key>
	    <integer>-61</integer>
	    <key>ograve</key>
	    <integer>-61</integer>
	    <key>ocircumflex</key>
	    <integer>-61</integer>
	    <key>odieresis</key>
	    <integer>-61</integer>
	    <key>otilde</key>
	    <integer>-61</integer>
	    <key>AE</key>
	    <integer>-72</integer>
	    <key>ae</key>
	    <integer>-51</integer>
	    <key>Agrave</key>
	    <integer>-72</integer>
	    <key>Atilde</key>
	    <integer>-72</integer>
	    <key>Otilde</key>
	    <integer>-31</integer>
	    <key>OE</key>
	    <integer>-31</integer>
	    <key>oe</key>
	    <integer>-61</integer>
	    <key>Acircumflex</key>
	    <integer>-72</integer>
	    <key>Aacute</key>
	    <integer>-72</integer>
	    <key>Oacute</key>
	    <integer>-31</integer>
	    <key>Ocircumflex</key>
	    <integer>-31</integer>
	    <key>Ograve</key>
	    <integer>-31</integer>
	</dict>
	<key>X</key>
	<dict>
	    <key>hyphen</key>
	    <integer>-82</integer>
	    <key>C</key>
	    <integer>-41</integer>
	    <key>G</key>
	    <integer>-31</integer>
	    <key>O</key>
	    <integer>-31</integer>
	    <key>Q</key>
	    <integer>-31</integer>
	    <key>a</key>
	    <integer>-20</integer>
	    <key>c</key>
	    <integer>-31</integer>
	    <key>d</key>
	    <integer>-20</integer>
	    <key>e</key>
	    <integer>-20</integer>
	    <key>f</key>
	    <integer>-51</integer>
	    <key>g</key>
	    <integer>-20</integer>
	    <key>m</key>
	    <integer>-20</integer>
	    <key>n</key>
	    <integer>-20</integer>
	    <key>o</key>
	    <integer>-10</integer>
	    <key>p</key>
	    <integer>-31</integer>
	    <key>q</key>
	    <integer>-20</integer>
	    <key>r</key>
	    <integer>-20</integer>
	    <key>s</key>
	    <integer>-10</integer>
	    <key>t</key>
	    <integer>-41</integer>
	    <key>Ccedilla</key>
	    <integer>-41</integer>
	    <key>Odieresis</key>
	    <integer>-31</integer>
	    <key>aacute</key>
	    <integer>-20</integer>
	    <key>agrave</key>
	    <integer>-20</integer>
	    <key>acircumflex</key>
	    <integer>-20</integer>
	    <key>adieresis</key>
	    <integer>-20</integer>
	    <key>atilde</key>
	    <integer>-20</integer>
	    <key>aring</key>
	    <integer>-20</integer>
	    <key>ccedilla</key>
	    <integer>-31</integer>
	    <key>eacute</key>
	    <integer>-20</integer>
	    <key>egrave</key>
	    <integer>-20</integer>
	    <key>ecircumflex</key>
	    <integer>-20</integer>
	    <key>edieresis</key>
	    <integer>-20</integer>
	    <key>ntilde</key>
	    <integer>-20</integer>
	    <key>oacute</key>
	    <integer>-10</integer>
	    <key>ograve</key>
	    <integer>-10</integer>
	    <key>ocircumflex</key>
	    <integer>-10</integer>
	    <key>odieresis</key>
	    <integer>-10</integer>
	    <key>otilde</key>
	    <integer>-10</integer>
	    <key>ae</key>
	    <integer>-20</integer>
	    <key>Otilde</key>
	    <integer>-31</integer>
	    <key>OE</key>
	    <integer>-31</integer>
	    <key>oe</key>
	    <integer>-10</integer>
	    <key>Oacute</key>
	    <integer>-31</integer>
	    <key>Ocircumflex</key>
	    <integer>-31</integer>
	    <key>Ograve</key>
	    <integer>-31</integer>
	</dict>
	<key>Y</key>
	<dict>
	    <key>comma</key>
	    <integer>-61</integer>
	    <key>hyphen</key>
	    <integer>-82</integer>
	    <key>period</key>
	    <integer>-61</integer>
	    <key>colon</key>
	    <integer>-61</integer>
	    <key>semicolon</key>
	    <integer>-61</integer>
	    <key>A</key>
	    <integer>-82</integer>
	    <key>C</key>
	    <integer>-41</integer>
	    <key>G</key>
	    <integer>-20</integer>
	    <key>J</key>
	    <integer>-82</integer>
	    <key>O</key>
	    <integer>-31</integer>
	    <key>Q</key>
	    <integer>-41</integer>
	    <key>a</key>
	    <integer>-72</integer>
	    <key>c</key>
	    <integer>-51</integer>
	    <key>d</key>
	    <integer>-72</integer>
	    <key>e</key>
	    <integer>-61</integer>
	    <key>f</key>
	    <integer>-41</integer>
	    <key>g</key>
	    <integer>-102</integer>
	    <key>o</key>
	    <integer>-72</integer>
	    <key>p</key>
	    <integer>-51</integer>
	    <key>q</key>
	    <integer>-92</integer>
	    <key>s</key>
	    <integer>-61</integer>
	    <key>x</key>
	    <integer>-41</integer>
	    <key>z</key>
	    <integer>-31</integer>
	    <key>Adieresis</key>
	    <integer>-82</integer>
	    <key>Aring</key>
	    <integer>-82</integer>
	    <key>Ccedilla</key>
	    <integer>-41</integer>
	    <key>Odieresis</key>
	    <integer>-31</integer>
	    <key>aacute</key>
	    <integer>-72</integer>
	    <key>agrave</key>
	    <integer>-72</integer>
	    <key>acircumflex</key>
	    <integer>-72</integer>
	    <key>adieresis</key>
	    <integer>-72</integer>
	    <key>atilde</key>
	    <integer>-72</integer>
	    <key>aring</key>
	    <integer>-72</integer>
	    <key>ccedilla</key>
	    <integer>-51</integer>
	    <key>eacute</key>
	    <integer>-61</integer>
	    <key>egrave</key>
	    <integer>-61</integer>
	    <key>ecircumflex</key>
	    <integer>-61</integer>
	    <key>edieresis</key>
	    <integer>-61</integer>
	    <key>oacute</key>
	    <integer>-72</integer>
	    <key>ograve</key>
	    <integer>-72</integer>
	    <key>ocircumflex</key>
	    <integer>-72</integer>
	    <key>odieresis</key>
	    <integer>-72</integer>
	    <key>otilde</key>
	    <integer>-72</integer>
	    <key>AE</key>
	    <integer>-82</integer>
	    <key>ae</key>
	    <integer>-72</integer>
	    <key>Agrave</key>
	    <integer>-82</integer>
	    <key>Atilde</key>
	    <integer>-82</integer>
	    <key>Otilde</key>
	    <integer>-31</integer>
	    <key>OE</key>
	    <integer>-31</integer>
	    <key>oe</key>
	    <integer>-72</integer>
	    <key>Acircumflex</key>
	    <integer>-82</integer>
	    <key>Aacute</key>
	    <integer>-82</integer>
	    <key>Oacute</key>
	    <integer>-31</integer>
	    <key>Ocircumflex</key>
	    <integer>-31</integer>
	    <key>Ograve</key>
	    <integer>-31</integer>
	</dict>
	<key>Z</key>
	<dict>
	    <key>C</key>
	    <integer>-31</integer>
	    <key>G</key>
	    <integer>-31</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	    <key>S</key>
	    <integer>-10</integer>
	    <key>Ccedilla</key>
	    <integer>-31</integer>
	    <key>Odieresis</key>
	    <integer>-20</integer>
	    <key>Otilde</key>
	    <integer>-20</integer>
	    <key>OE</key>
	    <integer>-20</integer>
	    <key>Oacute</key>
	    <integer>-20</integer>
	    <key>Ocircumflex</key>
	    <integer>-20</integer>
	    <key>Ograve</key>
	    <integer>-20</integer>
	</dict>
	<key>b</key>
	<dict>
	    <key>y</key>
	    <integer>-20</integer>
	    <key>ydieresis</key>
	    <integer>-20</integer>
	</dict>
	<key>g</key>
	<dict>
	    <key>f</key>
	    <integer>-10</integer>
	</dict>
	<key>k</key>
	<dict>
	    <key>c</key>
	    <integer>-10</integer>
	    <key>f</key>
	    <integer>-51</integer>
	    <key>g</key>
	    <integer>-10</integer>
	    <key>w</key>
	    <integer>-20</integer>
	    <key>y</key>
	    <integer>-20</integer>
	    <key>ccedilla</key>
	    <integer>-10</integer>
	    <key>ydieresis</key>
	    <integer>-20</integer>
	</dict>
	<key>o</key>
	<dict>
	    <key>x</key>
	    <integer>-31</integer>
	    <key>z</key>
	    <integer>-10</integer>
	</dict>
	<key>p</key>
	<dict>
	    <key>q</key>
	    <integer>-10</integer>
	    <key>r</key>
	    <integer>-10</integer>
	    <key>s</key>
	    <integer>-10</integer>
	    <key>u</key>
	    <integer>-10</integer>
	    <key>v</key>
	    <integer>-10</integer>
	    <key>w</key>
	    <integer>-10</integer>
	    <key>x</key>
	    <integer>-31</integer>
	    <key>y</key>
	    <integer>-10</integer>
	    <key>z</key>
	    <integer>-41</integer>
	    <key>uacute</key>
	    <integer>-10</integer>
	    <key>ugrave</key>
	    <integer>-10</integer>
	    <key>ucircumflex</key>
	    <integer>-10</integer>
	    <key>udieresis</key>
	    <integer>-10</integer>
	    <key>ydieresis</key>
	    <integer>-10</integer>
	</dict>
	<key>r</key>
	<dict>
	    <key>a</key>
	    <integer>-20</integer>
	    <key>c</key>
	    <integer>-10</integer>
	    <key>d</key>
	    <integer>-41</integer>
	    <key>e</key>
	    <integer>-20</integer>
	    <key>g</key>
	    <integer>-51</integer>
	    <key>i</key>
	    <integer>20</integer>
	    <key>o</key>
	    <integer>-41</integer>
	    <key>q</key>
	    <integer>-51</integer>
	    <key>s</key>
	    <integer>-20</integer>
	    <key>aacute</key>
	    <integer>-20</integer>
	    <key>agrave</key>
	    <integer>-20</integer>
	    <key>acircumflex</key>
	    <integer>-20</integer>
	    <key>adieresis</key>
	    <integer>-20</integer>
	    <key>atilde</key>
	    <integer>-20</integer>
	    <key>aring</key>
	    <integer>-20</integer>
	    <key>ccedilla</key>
	    <integer>-10</integer>
	    <key>eacute</key>
	    <integer>-20</integer>
	    <key>egrave</key>
	    <integer>-20</integer>
	    <key>ecircumflex</key>
	    <integer>-20</integer>
	    <key>edieresis</key>
	    <integer>-20</integer>
	    <key>iacute</key>
	    <integer>20</integer>
	    <key>igrave</key>
	    <integer>20</integer>
	    <key>icircumflex</key>
	    <integer>20</integer>
	    <key>idieresis</key>
	    <integer>20</integer>
	    <key>oacute</key>
	    <integer>-41</integer>
	    <key>ograve</key>
	    <integer>-41</integer>
	    <key>ocircumflex</key>
	    <integer>-41</integer>
	    <key>odieresis</key>
	    <integer>-41</integer>
	    <key>otilde</key>
	    <integer>-41</integer>
	    <key>ae</key>
	    <integer>-20</integer>
	    <key>oe</key>
	    <integer>-41</integer>
	    <key>dotlessi</key>
	    <integer>20</integer>
	</dict>
	<key>s</key>
	<dict>
	    <key>f</key>
	    <integer>-10</integer>
	    <key>w</key>
	    <integer>-10</integer>
	</dict>
	<key>t</key>
	<dict>
	    <key>q</key>
	    <integer>-20</integer>
	</dict>
	<key>v</key>
	<dict>
	    <key>comma</key>
	    <integer>-61</integer>
	    <key>period</key>
	    <integer>-61</integer>
	    <key>c</key>
	    <integer>-10</integer>
	    <key>g</key>
	    <integer>-10</integer>
	    <key>o</key>
	    <integer>-20</integer>
	    <key>q</key>
	    <integer>-20</integer>
	    <key>ccedilla</key>
	    <integer>-10</integer>
	    <key>oacute</key>
	    <integer>-20</integer>
	    <key>ograve</key>
	    <integer>-20</integer>
	    <key>ocircumflex</key>
	    <integer>-20</integer>
	    <key>odieresis</key>
	    <integer>-20</integer>
	    <key>otilde</key>
	    <integer>-20</integer>
	    <key>oe</key>
	    <integer>-20</integer>
	</dict>
	<key>w</key>
	<dict>
	    <key>comma</key>
	    <integer>-61</integer>
	    <key>period</key>
	    <integer>-61</integer>
	    <key>c</key>
	    <integer>-20</integer>
	    <key>d</key>
	    <integer>-10</integer>
	    <key>g</key>
	    <integer>-20</integer>
	    <key>o</key>
	    <integer>-20</integer>
	    <key>q</key>
	    <integer>-20</integer>
	    <key>s</key>
	    <integer>-10</integer>
	    <key>ccedilla</key>
	    <integer>-20</integer>
	    <key>oacute</key>
	    <integer>-20</integer>
	    <key>ograve</key>
	    <integer>-20</integer>
	    <key>ocircumflex</key>
	    <integer>-20</integer>
	    <key>odieresis</key>
	    <integer>-20</integer>
	    <key>otilde</key>
	    <integer>-20</integer>
	    <key>oe</key>
	    <integer>-20</integer>
	</dict>
	<key>x</key>
	<dict>
	    <key>g</key>
	    <integer>-10</integer>
	    <key>o</key>
	    <integer>-20</integer>
	    <key>q</key>
	    <integer>-20</integer>
	    <key>r</key>
	    <integer>-10</integer>
	    <key>oacute</key>
	    <integer>-20</integer>
	    <key>ograve</key>
	    <integer>-20</integer>
	    <key>ocircumflex</key>
	    <integer>-20</integer>
	    <key>odieresis</key>
	    <integer>-20</integer>
	    <key>otilde</key>
	    <integer>-20</integer>
	    <key>oe</key>
	    <integer>-20</integer>
	</dict>
	<key>y</key>
	<dict>
	    <key>comma</key>
	    <integer>-61</integer>
	    <key>period</key>
	    <integer>-61</integer>
	    <key>o</key>
	    <integer>-10</integer>
	    <key>q</key>
	    <integer>-10</integer>
	    <key>oacute</key>
	    <integer>-10</integer>
	    <key>ograve</key>
	    <integer>-10</integer>
	    <key>ocircumflex</key>
	    <integer>-10</integer>
	    <key>odieresis</key>
	    <integer>-10</integer>
	    <key>otilde</key>
	    <integer>-10</integer>
	    <key>oe</key>
	    <integer>-10</integer>
	</dict>
	<key>z</key>
	<dict>
	    <key>o</key>
	    <integer>-10</integer>
	    <key>q</key>
	    <integer>-20</integer>
	    <key>oacute</key>
	    <integer>-10</integer>
	    <key>ograve</key>
	    <integer>-10</integer>
	    <key>ocircumflex</key>
	    <integer>-10</integer>
	    <key>odieresis</key>
	    <integer>-10</integer>
	    <key>otilde</key>
	    <integer>-10</integer>
	    <key>oe</key>
	    <integer>-10</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
	    <key>C</key>
	    <integer>-20</integer>
	    <key>G</key>
	    <integer>-20</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	    <key>R</key>
	    <integer>-10</integer>
	    <key>V</key>
	    <integer>-41</integer>
	    <key>W</key>
	    <integer>-41</integer>
	    <key>Y</key>
	    <integer>-51</integer>
	    <key>e</key>
	    <integer>-10</integer>
	    <key>o</key>
	    <integer>-10</integer>
	    <key>q</key>
	    <integer>-10</integer>
	</dict>
	<key>Aring</key>
	<dict>
	    <key>C</key>
	    <integer>-20</integer>
	    <key>G</key>
	    <integer>-20</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	    <key>R</key>
	    <integer>-10</integer>
	    <key>V</key>
	    <integer>-41</integer>
	    <key>W</key>
	    <integer>-41</integer>
	    <key>Y</key>
	    <integer>-51</integer>
	    <key>e</key>
	    <integer>-10</integer>
	    <key>o</key>
	    <integer>-10</integer>
	    <key>q</key>
	    <integer>-10</integer>
	</dict>
	<key>Ccedilla</key>
	<dict>
	    <key>X</key>
	    <integer>-10</integer>
	</dict>
	<key>Eacute</key>
	<dict>
	    <key>J</key>
	    <integer>-20</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	    <key>S</key>
	    <integer>-10</integer>
	</dict>
	<key>Odieresis</key>
	<dict>
	    <key>A</key>
	    <integer>-20</integer>
	    <key>B</key>
	    <integer>-10</integer>
	    <key>J</key>
	    <integer>-10</integer>
	    <key>X</key>
	    <integer>-41</integer>
	</dict>
	<key>oacute</key>
	<dict>
	    <key>x</key>
	    <integer>-31</integer>
	    <key>z</key>
	    <integer>-10</integer>
	</dict>
	<key>ograve</key>
	<dict>
	    <key>x</key>
	    <integer>-31</integer>
	    <key>z</key>
	    <integer>-10</integer>
	</dict>
	<key>ocircumflex</key>
	<dict>
	    <key>x</key>
	    <integer>-31</integer>
	    <key>z</key>
	    <integer>-10</integer>
	</dict>
	<key>odieresis</key>
	<dict>
	    <key>x</key>
	    <integer>-31</integer>
	    <key>z</key>
	    <integer>-10</integer>
	</dict>
	<key>otilde</key>
	<dict>
	    <key>x</key>
	    <integer>-31</integer>
	    <key>z</key>
	    <integer>-10</integer>
	</dict>
	<key>AE</key>
	<dict>
	    <key>J</key>
	    <integer>-20</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	    <key>S</key>
	    <integer>-10</integer>
	</dict>
	<key>Agrave</key>
	<dict>
	    <key>C</key>
	    <integer>-20</integer>
	    <key>G</key>
	    <integer>-20</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	    <key>R</key>
	    <integer>-10</integer>
	    <key>V</key>
	    <integer>-41</integer>
	    <key>W</key>
	    <integer>-41</integer>
	    <key>Y</key>
	    <integer>-51</integer>
	    <key>e</key>
	    <integer>-10</integer>
	    <key>o</key>
	    <integer>-10</integer>
	    <key>q</key>
	    <integer>-10</integer>
	</dict>
	<key>Atilde</key>
	<dict>
	    <key>C</key>
	    <integer>-20</integer>
	    <key>G</key>
	    <integer>-20</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	    <key>R</key>
	    <integer>-10</integer>
	    <key>V</key>
	    <integer>-41</integer>
	    <key>W</key>
	    <integer>-41</integer>
	    <key>Y</key>
	    <integer>-51</integer>
	    <key>e</key>
	    <integer>-10</integer>
	    <key>o</key>
	    <integer>-10</integer>
	    <key>q</key>
	    <integer>-10</integer>
	</dict>
	<key>Otilde</key>
	<dict>
	    <key>A</key>
	    <integer>-20</integer>
	    <key>B</key>
	    <integer>-10</integer>
	    <key>J</key>
	    <integer>-10</integer>
	    <key>X</key>
	    <integer>-41</integer>
	</dict>
	<key>OE</key>
	<dict>
	    <key>J</key>
	    <integer>-20</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	    <key>S</key>
	    <integer>-10</integer>
	</dict>
	<key>ydieresis</key>
	<dict>
	    <key>o</key>
	    <integer>-10</integer>
	    <key>q</key>
	    <integer>-10</integer>
	</dict>
	<key>Ydieresis</key>
	<dict>
	    <key>A</key>
	    <integer>-82</integer>
	    <key>C</key>
	    <integer>-41</integer>
	    <key>G</key>
	    <integer>-20</integer>
	    <key>J</key>
	    <integer>-82</integer>
	    <key>O</key>
	    <integer>-31</integer>
	    <key>Q</key>
	    <integer>-41</integer>
	    <key>a</key>
	    <integer>-72</integer>
	    <key>c</key>
	    <integer>-51</integer>
	    <key>d</key>
	    <integer>-72</integer>
	    <key>e</key>
	    <integer>-61</integer>
	    <key>f</key>
	    <integer>-41</integer>
	    <key>g</key>
	    <integer>-102</integer>
	    <key>o</key>
	    <integer>-72</integer>
	    <key>p</key>
	    <integer>-51</integer>
	    <key>q</key>
	    <integer>-92</integer>
	    <key>s</key>
	    <integer>-61</integer>
	    <key>x</key>
	    <integer>-41</integer>
	    <key>z</key>
	    <integer>-31</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
	    <key>C</key>
	    <integer>-20</integer>
	    <key>G</key>
	    <integer>-20</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	    <key>R</key>
	    <integer>-10</integer>
	    <key>V</key>
	    <integer>-41</integer>
	    <key>W</key>
	    <integer>-41</integer>
	    <key>Y</key>
	    <integer>-51</integer>
	    <key>e</key>
	    <integer>-10</integer>
	    <key>o</key>
	    <integer>-10</integer>
	    <key>q</key>
	    <integer>-10</integer>
	</dict>
	<key>Ecircumflex</key>
	<dict>
	    <key>J</key>
	    <integer>-20</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	    <key>S</key>
	    <integer>-10</integer>
	</dict>
	<key>Aacute</key>
	<dict>
	    <key>C</key>
	    <integer>-20</integer>
	    <key>G</key>
	    <integer>-20</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	    <key>R</key>
	    <integer>-10</integer>
	    <key>V</key>
	    <integer>-41</integer>
	    <key>W</key>
	    <integer>-41</integer>
	    <key>Y</key>
	    <integer>-51</integer>
	    <key>e</key>
	    <integer>-10</integer>
	    <key>o</key>
	    <integer>-10</integer>
	    <key>q</key>
	    <integer>-10</integer>
	</dict>
	<key>Edieresis</key>
	<dict>
	    <key>J</key>
	    <integer>-20</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	    <key>S</key>
	    <integer>-10</integer>
	</dict>
	<key>Egrave</key>
	<dict>
	    <key>J</key>
	    <integer>-20</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	    <key>S</key>
	    <integer>-10</integer>
	</dict>
	<key>Oacute</key>
	<dict>
	    <key>A</key>
	    <integer>-20</integer>
	    <key>B</key>
	    <integer>-10</integer>
	    <key>J</key>
	    <integer>-10</integer>
	    <key>X</key>
	    <integer>-41</integer>
	</dict>
	<key>Ocircumflex</key>
	<dict>
	    <key>A</key>
	    <integer>-20</integer>
	    <key>B</key>
	    <integer>-10</integer>
	    <key>J</key>
	    <integer>-10</integer>
	    <key>X</key>
	    <integer>-41</integer>
	</dict>
	<key>Ograve</key>
	<dict>
	    <key>A</key>
	    <integer>-20</integer>
	    <key>B</key>
	    <integer>-10</integer>
	    <key>J</key>
	    <integer>-10</integer>
	    <key>X</key>
	    <integer>-41</integer>
	</dict>
    </dict>
</plist>
