//-------------------------------------
// #THEMES-GREEN
//-------------------------------------

.t-green {
  background-color: palette(primary);
  color: palette(light);

  .c-button {
    &--outline {
      border-color: palette(light);
      color: palette(light);
    }
  }

  [class*="__header"] {
    background-color: palette(primary-shadow);
    color: palette(light);
  }

  h1,h2,h3,h4,h5,h6,
  [class*="__title"],
  [class*="__subtitle"] { color: palette(light); }
}
