//-------------------------------------
// #THEMES-YELLOW
//-------------------------------------

.t-yellow {
  background-color: palette(brand, xxlight);
  color: palette(dark);

  ::selection {
    background-color: black;
    color: palette(brand);
  }

  [class*="__header"] {
    background-color: palette(brand);
    color: palette(dark);
  }

  h1,h2,h3,h4,h5,h6,
  [class*="__title"],
  [class*="__subtitle"] { color: palette(dark); }
}
