@import "./variables";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "../vendor/font-awesome/scss/font-awesome";
/*$open-sans-path: "~open-sans/fonts";
@import "../vendor/open-sans/scss/open-sans";*/

.ui.menu .header.item > img.logo {
    margin-right: 12px;
}

.intro {
  margin-top: 10em;
  font-size: 1.2em;
  line-height: 1.5;
}

.ui-widget-overlay.ui-front {
  background-color: #000000;
  filter: Alpha(Opacity=.3) ! important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

* {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
