@import "../unbounded/css/jquery-ui.css";
@import "../unbounded/css/semantic.css";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../vendor/font-awesome/scss/font-awesome";
@import "./variables";
@import "../vendor/open-sans/scss/open-sans";

.ui.menu .header.item > img.logo {
    margin-right: 12px;
}

.intro {
  margin-top: 10em;
  font-size: 1.2em;
  line-height: 1.5;
}

//Import components ...
