$screen-app-xxs:                  320px !default;
$screen-app-xs:                  480px !default;
$screen-app-sm-3:                680px !default;
$screen-app-sm-2:                774px !default;
$screen-app-sm:                  835px !default;
$screen-app-md:                  992px !default;
$screen-app-lg:                  1200px !default;
$screen-sorting-bar-xs:          652px !default;
$screen-sorting-bar-sm:          760px !default;
$screen-sorting-bar-sm-2:        769px !default;
$screen-sorting-bar-md:          850px !default;
$screen-sorting-bar-lg:          996px !default;
$screen-generic-list-xs:         849px !default;


/* Login */
$form-inline-display:           block;
$form-inline-width:             100%;
$form-inline-overflow:          hidden;
$form-inline-group-display:     inline-flex;
$form-inline-display:           block;

