/* Base colors*/
$color1: #FF0000; // Red
$color2: #FFBF00; // Orange
$color3: #FFFF00; // Yellow
$color4: #7FFF00; // Green
$color5: #007FFF; // Light Blue
$color6: #00FFFF; // Cyan
$color7: #0000FF; // Blue
$color8: #7F00FF; // Purple
$color9: #FF00FF; // Magenta
$color10: #000; // Black
$color11: #fff; // White
$color-red: $color1;
$color-orange: $color2;
$color-red: $color3;
$color-yellow: $color4;
$color-green: $color5;
$color-light-blue: $color6;
$color-cyan: $color7;
$color-purple: $color8;
$color-magenta: $color9;
$color-black: $color10;
$color-white: $color11;
$color-pink: pink; // Yep, pink!
$blockquote-bg: #faebbe; // Yellowy
$color-link: #3D518F; // blue-dark

// Fonts
$blockquote: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

// Mixin variables
$defined-bs-type: border-box !default;

// Breakpoint variables
// ====================================================================
$XS: 18em; // roughly speaking, around 288px wide with 16px body font
$S: 30em; // roughly speaking, around 480px wide with 16px body font
$M: 43em; // roughly speaking, around 688px wide with 16px body font
$L: 57em; // roughly speaking, around 912px wide with 16px body font
$screen-app-xxs:                  320px !default;
$screen-app-xs:                  480px !default;
$screen-app-sm-3:                680px !default;
$screen-app-sm-2:                774px !default;
$screen-app-sm:                  835px !default;
$screen-app-md:                  992px !default;
$screen-app-lg:                  1200px !default;
$screen-sorting-bar-xs:          652px !default;
$screen-sorting-bar-sm:          760px !default;
$screen-sorting-bar-sm-2:        769px !default;
$screen-sorting-bar-md:          850px !default;
$screen-sorting-bar-lg:          996px !default;
$screen-generic-list-xlg:       1200px !default;
$screen-generic-list-lg:         996px !default;
$screen-generic-list-md:         850px !default;
$screen-generic-list-xs:         652px !default;

$transparent_default:               50 !default;

/* Login */
$form-inline-display:           block;
$form-inline-width:             100%;
$form-inline-overflow:          hidden;
$form-inline-group-display:     inline-flex;
$form-inline-display:           block;

/* Filter box */
$filter-box-width:              100%;

/* Edit dialog */
$edit-dialog-width:             100%;

