//-------------------------------------
// #ELEMENTS-TYPOGRAPHY
//-------------------------------------

body {
  @include font-family(sans);
  @include font-weight(medium);
}





h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-family(primary);
  @include font-weight(bold);
  color: palette(dark-grey);
}





h1 { @include font-size(giant); }
h2 { @include font-size(big); }
h3 { @include font-size(huge); }
h4 { @include font-size(large); }
h5 { @include font-size(medium); }
h6 { @include font-size(regular); }





blockquote {
  @include font-family(serif);
  font-style: italic;
  padding-left: size(large);
  padding-right: size(large);
  padding-top: size(medium);
  position: relative;

  &:before,
  &:after {
    @include sizing(48px);
    font-size: rem(96px);
    line-height: 1;
    opacity: .3;
  }

  &:before {
    @include absolute(top 0 left 0);
    content: "“";
  }

  &:after {
    @include absolute(top 0 right 0);
    content: "”";
  }

  & > p { @include font-size(large, false); }

  & > span {
    @include font-family(primary);
    @include font-size(regular);
    @include font-weight(bold);
    display: block;
    font-style: normal;
    margin-top: size(medium);
    padding-top: size(medium);
    position: relative;

    &:before {
      @include absolute(top 0 left 0);
      border-bottom: 3px solid;
      content: "";
      width: rem(24px);
    }
  }
}





p {
  @include font-size(regular);
  margin: size(medium) 0;

  &:first-of-type { margin-top: 0; }
  &:last-of-type { margin-bottom: 0; }
}





a {
  color: palette(primary);
  text-decoration: none;

  &:hover { text-decoration: underline; }
}
