//-------------------------------------
// #OBJECTS-WARPPER
//-------------------------------------

.o-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 960px;
  padding-left: size(medium);
  padding-right: size(medium);

  &--vertical {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
