//-------------------------------------
// #TRUMPS-UTILITIES
//-------------------------------------

//
// TEXT
//
.u-text-left { text-align: left; }
.u-text-center { text-align: center; }
.u-text-right { text-align: right; }

%u-text-shadow,
.u-text-shadow { text-shadow: $base-shadow; }

%u-text-hidden,
.u-text-hidden { @include text-hidden; }





//
// CLEARFIX
//
%u-clearfix,
.u-clearfix { @include clearfix; }





//
// BOX SHADOW
//
%u-box-shadow,
.u-box-shadow { box-shadow: $base-shadow; }





//
// RESPONSIVE DISPLAY
//
@each $screen, $size in $breakpoints {
  .u-hide-for-#{$screen} {
    @include mq(#{$screen}) {
      display: none !important;
    }
  }
}

@each $screen, $size in $breakpoints {
  .u-show-for-#{$screen} {
    @include mq(#{$screen}) {
      display: initial !important;
    }
  }
}
